@page
@model BugTrackingApplication.Pages.Bugs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bug.Title" class="control-label"></label>
                <input asp-for="Bug.Title" class="form-control" />
                <span asp-validation-for="Bug.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bug.Severity" class="control-label"></label>
                <select asp-for="Bug.Severity" class="form-control">
                    <option>High</option>
                    <option>Medium</option>
                    <option>Low</option>
                </select>
                <span asp-validation-for="Bug.Severity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bug.Description" class="control-label"></label>
                <input asp-for="Bug.Description" class="form-control" />
                <span asp-validation-for="Bug.Description" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Bug.IsOpen" /> @Html.DisplayNameFor(model => model.Bug.IsOpen)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Bug.Created" class="control-label"></label>
                <input asp-for="Bug.Created" class="form-control" />
                <span asp-validation-for="Bug.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bug.Updated" class="control-label"></label>
                <input asp-for="Bug.Updated" class="form-control" />
                <span asp-validation-for="Bug.Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bug.ProjectID" class="control-label"></label>
                <select asp-for="Bug.ProjectID" class ="form-control" asp-items="ViewBag.ProjectID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
