@page "{id:int?}"
@model BugTrackingApplication.Pages.Comments.DeleteModel

@{
    ViewData["Title"] = "Delete comment";
}

<h3>Delete comment</h3>

<p>Are you sure you want to delete the following comment? This cannot be undone.</p>

<p><i>"@Model.Comment.Text"</i></p>
<p>Last updated on @Model.Comment.Updated</p>

<div>
    <form method="post">
        <input type="hidden" asp-for="Comment.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" asp-route-id="@Model.Comment.BugID" class="btn btn-secondary">Go back</a>
    </form>
</div>

