@page "{id:int?}"
@model BugTrackingApplication.Pages.Comments.EditModel

@{
    ViewData["Title"] = "Edit comment";
}

<h3>Edit comment</h3>
<hr />
<div class="row">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Comment.ID" />
            <div class="form-group">
                <textarea asp-for="Comment.Text" class="form-control" placeholder="Enter text here..."></textarea>
                <span asp-validation-for="Comment.Text" class="text-danger"></span>
            </div>@*
            <input type="hidden" asp-for="Comment.Created" />
            <input type="hidden" asp-for="Comment.Updated" />
            <input type="hidden" asp-for="Comment.BugID" />
            <input type="hidden" asp-for="Comment.User" />*@
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-page="./Index" asp-route-id="@Model.Comment.BugID" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
